@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeInOut 2s infinite;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
